$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../node_modules/bootswatch/yeti/_variables.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../node_modules/bootswatch/yeti/_bootswatch.scss";

.footer {
  margin-top: 10px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.hero-image {
  display: inline;
  height: 2em;
}

.text-blue {
  color: #127ABF;
}

.text-green {
  color: #449414;
}
